.slick-prev:before, .slick-next:before{
  color: plum !important;
}

.imgs {
  padding-top: 5vw;
  width: 50vw;
  height: 25vw;
  margin: auto;
}

.slick-slide {
  border: 3px groove plum;
  height: inherit !important;
}

.slick-track {
  display: flex !important;
}

.slick-dots {
  bottom: -20px !important;
}

@media screen and (max-width: 720px) {
  .imgs {
    padding-top: 10vw;
    width: 70vw;
    height: 100vw;
  }

  .slick-dots {
    bottom: -45px !important;
  }
}
